@using Newtonsoft.Json
@model MyAirlines.ViewModels.FlightSearchVM
@{
    ViewData["Title"] = "Search";
}
<link href="~/css/flightsearchstyle.css" rel="stylesheet" asp-append-version="true" />
@if (User.Identity.IsAuthenticated)
{
    <main>
    <link href="~/css/FormPage.css" rel="stylesheet" />
        <div class="sd-form-wrapper">
            <div class="sd-form-card">
                <form asp-controller="FlightSearch" asp-action="Search" method="post">
                    <h1>Find your flight</h1>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="flight-search-container">
                        <div class="left-flight form-group col-md-6">

                            <select id="SelectedDepartureId" asp-for="SelectedDepartureId" asp-items="@Model.AirportDeparture">
                                <option value="">Please select a departure airport</option>
                            </select>

                            <label class="flightsearch-text" for="AantalPersonenNodig">Aantal Personen</label>

                            <label class="flightsearch-text" asp-for="DepartureDate">Departure Date</label>
                        </div>
                        <div class="right-flight form-group col-md-6">
                            <select id="SelectedArrivalId" asp-for="SelectedArrivalId" asp-items="@Model.AirportArrival">
                                <option value="">Please select an arrival airport</option>
                            </select>
                        
                            <input class="aantal-personen" type="number" id="AantalPersonenNodig" asp-for="AantalPersonenNodig" min="1" placeholder="Enter number of people" />

                            <input type="date"
                                   name="DepartureDate"
                                   min="@Model.MinDepartureTime.ToString("yyyy-MM-dd")"
                                   max="@Model.MaxDepartureTime.ToString("yyyy-MM-dd")"
                                   value="@(Model.DepartureDate.HasValue ? Model.DepartureDate.Value.ToString("yyyy-MM-dd") : "")" />
                        </div>
                    </div>
                    <select id="SelectedClassId" asp-for="SelectedClassId" asp-items="@Model.Class">
                        <option value="">Please select a class</option>
                    </select>
                    
                    <div class="mt-3 form-group">
                        <input type="submit" value="Search flights" class="sd-btn-important" />
                    </div>
                </form>
            </div>
        </div>

        @if (Model.FlightGroups != null && Model.FlightGroups.Any())
        {
            @foreach (var group in Model.FlightGroups)
            {
                var flight = group.Flights.First(); // Pak de eerste vlucht (er is er maar één)
                if (group.Flights.Count == 1)
                {
                    <h3>Direct Flights</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Departure Place</th>
                                <th>Arrival Place</th>
                                <th>Departure Time</th>
                                <th>Arrival Time</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Html.DisplayFor(modelItem => flight.DeparturePlace)</td>
                                <td>@Html.DisplayFor(modelItem => flight.ArrivalPlace)</td>
                                <td>@Html.DisplayFor(modelItem => flight.DepartureTime)</td>
                                <td>@Html.DisplayFor(modelItem => flight.ArrivalTime)</td>
                                <td>
                                    @using (Html.BeginForm("PrepareBooking", "FlightSearch", FormMethod.Post))
                                    {
                                        <input type="hidden" name="aantalpersonen" value="@Model.AantalPersonenNodig" />

                                        <input type="hidden" name="flightGroupVM" value='@Html.Raw(JsonConvert.SerializeObject(group))' />
                                        <input type="hidden" name="selectedClassId" value="@Model.SelectedClassId" />



                                        <button type="submit" class="btn btn-success">Boek deze vlucht</button>
                                    }
                                </td>


                            </tr>



                        </tbody>
                        <tfoot>
                        <td>
                            TotalDuration: @group.TotalTravelTime hours
                        </td>
                        </tfoot>
                    </table>
                }
            }
           

            <h3>Flights with Layovers</h3>
            @foreach (var group in Model.FlightGroups)
            {
                var firstFlight = group.Flights.First(); 
                var lastFlight = group.Flights.Last();
                if (group.Flights.Count != 1)
                {
                    <table class="table">


                        <thead>
                        <th>@Html.DisplayFor(modelItem => firstFlight.DeparturePlace)</th>
                        <th>@Html.DisplayFor(modelItem => lastFlight.ArrivalPlace)</th>
                        <th>
                                @using (Html.BeginForm("PrepareBooking", "FlightSearch", FormMethod.Post))
                                {
                                <input type="hidden" name="aantalpersonen" value="@Model.AantalPersonenNodig" />

                                <input type="hidden" name="flightGroupVM" value='@Html.Raw(JsonConvert.SerializeObject(group))' />
                                <input type="hidden" name="selectedClassId" value="@Model.SelectedClassId" />

                          

                                <button type="submit" class="btn btn-success">Boek deze vlucht</button>
                                }
                        </th>


                        </thead>
                        <tbody>
                            @foreach (var layover in group.Flights)
                            {
                                <tr>
                                    <td>
                                        @layover.DeparturePlace
                                    </td>
                                    <td>
                                        @layover.ArrivalPlace
                                    </td>
                                    <td>
                                        @layover.DepartureTime
                                    </td>
                                    <td>
                                        @layover.ArrivalTime
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <td>
                                TotalDuration: @group.TotalTravelTime hours
                            </td>
                        </tfoot>
                        
                    </table>
                }
                
                
                
            }
            
        }
        else
        {
            <p>Er zijn geen vluchten gevonden tussen deze luchthavens.</p>
        }
    </main>
}
else
{
    <main class="text-center mt-5">
        <div class="sd-gm-white notLoggedIn">
            <h2>You are not logged in</h2>
            <p>Log in to search for flights and see available destinations.</p>
            <a class="sd-btn-important" href="/Identity/Account/Login">Login</a>
            <a class="sd-btn-normal" href="/Identity/Account/Register">Register</a>
        </div>
    </main>
}
