﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Home Page"];
}

<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Localizer["Home Page"]</title>
    <link href="~/css/homepagestyle.css" rel="stylesheet" />
</head>

<body>

    <main>
        <div class="text-center">
            <h1 class="calsans-display-title">@Localizer["Main Slogan"]</h1>
            <a asp-controller="FlightSearch" asp-action="Search" class="button-56" role="button">
                @Localizer["Fly with us"]
            </a>
        </div>

        <div class="responsive-container">
            <!-- Left Section -->
            <div class="sd-gm-main sd-container">
                <h2>@Localizer["About"] Avaro Airlines</h2>
                <p>@Localizer["About-Text-1"]</p>
                <p>@Localizer["About-Text-2"]</p>
                <p>@Localizer["About-Text-3"]</p>
            </div>

        </div>

        <div class="responsive-container">
            <div class="sd-gm-white sd-container">
                <h2>@Localizer["Destinations"]</h2>
                <div class="destinations-grid">

                    <!-- New York -->
                    <img height="200" src="~/Images/Countries/newyork.jpg" alt="New York Skyline">
                    <!-- London -->
                    <img height="200" src="~/Images/Countries/london.jpg" alt="London Skyline">
                    <!-- Tokyo -->
                    <img height="200" src="~/Images/Countries/tokyo.jpg" alt="Tokyo Skyline">
                    <!-- Sydney -->
                    <img height="200" src="~/Images/Countries/sydney.jpg" alt="Sydney Skyline">
                    <!-- Singapore -->
                    <img height="200" src="~/Images/Countries/singapore.jpg" alt="Singapore Skyline">
                    <!-- Cape Town -->
                    <img height="200" src="~/Images/Countries/capetown.jpg" alt="Cape Town Skyline">
                    <!-- Dubai -->
                    <img height="200" src="~/Images/Countries/dubai.jpg" alt="Dubai Skyline">

                </div>
            </div>
        </div>

        <div class="responsive-container">
            <!-- Right Section -->
            <div class="sd-gm-main sd-container">
                <h2>@Localizer["Where to find us"]?</h2>
                <p>📍 <b>@Localizer["Address"]</b> SkyTower 12, 1000 Luchtvaartlaan, Aviacity</p>
                <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3565.747516059393!2d3.281426306423183!3d50.805889687056755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c33b3105a07815%3A0x8f6ae99c2ff2a809!2sHogeschool%20VIVES%20Campus%20Kortrijk!5e0!3m2!1snl!2sbe!4v1746716398340!5m2!1snl!2sbe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

        <div class="responsive-container">
            <!-- Right Section -->
            <div class="sd-gm-black sd-container">
                <h2>@Localizer["Contact Information"]</h2>
                <p>📧 <b>@Localizer["Email"]</b>: info@avaroairlines.com</p>
                <p>📱 <b>@Localizer["Phone"]</b>: +32 123 45 67 89</p>

                <h2>@Localizer["Customer Service Opening Hours"]</h2>
                <p>🗓 <b>@Localizer["day-monday"] - @Localizer["day-friday"]</b>: 08:00 - 18:00</p>
                <p>🗓 <b>@Localizer["day-saturday"]</b>: 09:00 - 13:00</p>
                <p>⛔ <b>@Localizer["day-sunday"] & @Localizer["Holidays"]</b>: @Localizer["Closed"]</p>
            </div>
        </div>


    </main>
</body>
</html>