@model IEnumerable<MyAirlines.ViewModels.TicketVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatNumber)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SeatNumber)
                </th>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Price }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Price }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Price })
                    <a asp-action="Select" asp-route-id="@item.Price">
                        <img src="~/images/shopping_cart.svg" />
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>